*{
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 50%;
    height: auto;
}

#page-wrapper{
    width: 80vw;
    margin: 0 auto;
}

#work-title{
    text-align: center;
}

#container{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

header, footer{
    background-color: cadetblue;
    padding: 25px;
    text-align: left;
    font-family: Helvetica, sans-serif;
}

main{
    text-align: left;
    background-color: beige;
    height: 130vh;
    width: 70%;
    padding: 5px 10px;
}

#datesandloc{
    text-align: right;
}

nav {
    background-color: lavender;
    width: 30%
}

nav ul{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav li{
    background-color: white;
    border: 3px solid black;
    border-radius: 0%;
    width: 80%;
    margin: 2% auto;
    padding: 1%;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: calc(2px + 2vw);
}

/*below this line is my mobile design*/
@media screen and (max-width: 1000px) {

    header,footer {
        text-align: center;
    }

    #container{
        flex-direction: column;
    }
    nav, main {
        width: 100%;
    }
    nav ul{
        flex-direction: row;
    }

}